body{
margin: 0;
padding: 0;
/*background-image:url(https://assets.awwwards.com/awards/images/2015/04/pattern.jpg);*/
background-color:white;
}
header{
position: relative;
max-width:1360px;
margin: 20px auto;
padding: 10px;
background:#216eeb;
box-sizing: border-box;
border-radius: 4px;
}
.thymes{

color: white;
height: 60px;
font-size: 36px;
line-height:60px;
padding: 0 20px;
text-align:center;
box-sizing: border-box;
float: left;
font-weigth: 700;
text-decoration: none;
}
nav{
float: right;
margin:0;

}
.clearfix{
clear:both;
}

nav ul {
margin: 0;
padding: 0 ;
display: flex;
}
nav ul li{

list-style:none;
}
nav ul li a{
display:block;
margin: 10px 0;
padding:10px 20px;
text-decoration:none;
color: white;
}

nav ul li a.active,
nav ul li a:hover
{
background: yellow;
color: #216eeb;
transition: 0.5s;
}
img{
padding:20px;
height:450px;
width:500px;

}
p{
padding-top: 1px;
font-weight: 400;
}
h1{
text-align:center;
}
h1{
color:#216eeb ;
}
.grid{
display:grid;
grid-template: auto / repeat(2,49.5%);

}
.grid img{
  width: 96%;
  height: 94%;
}
#grid{
  padding: 10px;
display: grid;
grid-template:auto / repeat(4,25%);

}
#grid img{
  width:100%;
  padding:4px;

height:auto ;
}
.animation img{
  padding-left: 25%;
  width: 700px;
  height: 300px;
}
#slides{
    position: relative;
    height: 10px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}
.showing{
    opacity: 1;
    z-index: 2;
}

h2{
  text-align: center;
  font-size: 35px;
  color:#216eeb;
}
h3{
text-align: center;
color:#216eeb;
font-size: 35px;

}

.ph{
  margin-top: 35%;
}
#product{
  padding: 10px;
display: grid;
grid-template:auto / repeat(2,49.5%);

}
#product img{
float:left;
width:100%;
padding:4px;
}
footer{
  background-color: #216eeb;
  padding:9px;
}
