body{
margin: 0;
padding: 0;
/*background-image:url(https://assets.awwwards.com/awards/images/2015/04/pattern.jpg);*/
background-color:white;
}
header{
position: relative;
max-width:1360px;
margin: 20px auto;
padding: 10px;
background:#216eeb;
box-sizing: border-box;
border-radius: 4px;
}
.difflin{

color: white;
height: 60px;
font-size: 36px;
line-height:60px;
padding: 0 20px;
text-align:center;
box-sizing: border-box;
float: left;
font-weigth: 700;
text-decoration: none;
}
nav{
float: right;

}
.clearfix{
clear:both;
}

nav ul {
margin: 0;
padding: 0 ;
display: flex;
}
nav ul li{

list-style:none;
}
nav ul li a{
display:block;
margin: 10px 0;
padding:10px 20px;
text-decoration:none;
color: white;
}

nav ul li a.active,
nav ul li a:hover
{
background: yellow;
color: #216eeb;
transition: 0.5s;
}
img{
padding:20px;
height:450px;
width:500px;

}
p{
padding-top: 1px;
font-weight: 400;
}
h1{
text-align:center;
}
h1{
color:#216eeb ;
}
.grid{
display:grid;
grid-template: auto / repeat(2,49.5%);

}
.grid img{
  width: 96%;
  height: 94%;
}
#grid{
  padding: 10px;
display: grid;
grid-template:auto / repeat(4,25%);

}
#grid img{
  width:100%;
  padding:4px;

height:auto ;
}
h2{
  text-align: center;
}
